

.App {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

.breed-display-container {
  display: grid;
  grid-template-columns: repeat(4, 220px);
}


.breed-container {
  margin-bottom: 1rem;
}

.dog-bone-background {
  width: 12rem;
  height: 12rem;
  opacity: .4;
  border: 2px solid rgb(195, 217, 217);
}


.dog-box {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  padding: 1rem;
  position: absolute;
  transform: translateY(-12.5rem);
  border: 2px solid transparent;
}

.dog-box:hover {
  background-image: url("./images/dog-bone-background.jpeg");
  background-size: contain;
  cursor: pointer;
}

.game-display-container {
  display: flex;
}

.breed-name-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}

.breed-name-text {
  padding: 1rem;
  margin-left: 2rem;
  text-transform: capitalize;
  cursor: pointer;
  border: 2px solid transparent;
}

.breed-name-text:hover {
  color: blue
}

.featured {
  border: 2px solid red;
}