.breed-display-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);

}

.breed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.breed-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dog-bone-background {
  width: 12rem;
  height: 12rem;
  opacity: .4;
  border: 2px solid rgb(195, 217, 217);
}

.dog-box {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  padding: 1rem;
  position: absolute;
  transform: translateY(-12.5rem);
  border: 2px solid transparent;
}