.App >div {
  display: flex;
  flex-wrap: wrap;
}

.App > div > * {
  flex: 1 1 80px;
}

.breed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}